@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f9f9e5;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-box {
  background-color: #8b6e3a;
  border-radius: 10px;
  padding: 40px 30px;
  text-align: center;
  width: 300px;
}

.logo-title {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 15px;
}
.logo-title img {
  width: 60px;
  height: auto;
  margin-right: 10px;
}

.title {
  color: white;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
}

.title span {
  color: #ffffff;
}

.subtitle {
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
}

form input {
  font-family: "Inter", sans-serif;
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: none;
  border-radius: 8px;
  background-color: #eed9a0;
  color: #000000 !important;
}

form button {
  font-family: "Inter", sans-serif;
  width: 100%;
  padding: 12px;
  background-color: #e19007;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s ease;
}

form button:hover {
  background-color: #c97a05;
}

.forgot {
  display: block;
  margin-top: 15px;
  font-size: 12px;
  color: white;
  text-decoration: none;
}

.input-icon {
  position: relative;
  width: 100%;
  margin: 8px 0;
}

.input-icon img {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  opacity: 0.7;
}

.input-icon input {
  font-family: "Inter", sans-serif;
  width: 100%;
  padding: 12px 12px 12px 40px;
  border: none;
  border-radius: 8px;
  background-color: #eed9a0;
  color: #000000 !important;
}
::placeholder {
  color: #000000;
  opacity: 1;
}
